header {
    box-shadow: 0 2px 5px #dbdbdb;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 12px 15px
}

header > img {
    width: 90px

}

.wrapper_right_header {
    display: flex;
    flex-direction: row;
    align-items: center;

}

.wrapper_right_header div:first-child {
    padding-right: 10px;
}

header > div {
    cursor: pointer
}