@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;700&display=swap');

* {
  font-family: "Nunito", "sans-serif";
}
.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container > form {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
}

.container > form > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  padding: 5px 0
}

@media (min-width: 600px) {
  .container {
    background-color: #fafafa;
  }

  .container > form {
    width: 400px;
    box-shadow: rgba(17,12,46,0.15) opx 48px 100px 0px;
    background-color: white;

  }
}

