@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;700&display=swap');


  .auth {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .auth > form {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
  }
  
  .auth > form > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    padding: 5px 0
  }

  .auth > form > span  {
    color: var(--global-primary-color);
    font-size: 15px;
    padding-bottom: 20px;
  }
  .auth input {
    border-radius: var(--global-radius);
    border: var(--global-border)
  }

.auth > form > div > input.errors,
.auth > form > div> select.errors {
    border: 1px red solid;
}

.auth > form > div > select, input {
  border: 0.5px solid #e9e9e9;
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
  color: #000;
  flex: 1 1;
  padding: 5px
}

  .auth button {
    transition: all 0.3s ease-out;
    background-color: var(--global-primary-color);
    border-radius: var(--global-radius);
    border: 0;
    color: white;
    padding: 10px !important;
    font-size: 16px;
    cursor: pointer;
  }

  .auth button:hover {
    background-color: white;
    border-radius: var(--global-radius);
    border: 1px solid var(--global-primary-color);
    color: var(--global-primary-color);
    padding: 10px !important;
    font-size: 16px;
  }

  .register_login a {
    text-decoration: none;
    outline: none;
    color: black
  }
  .register_login a:hover {
    color: var(--global-primary-color)
  }
  
  @media (min-width: 600px) {
    .auth {
      background-color: #fafafa;
    }
  
    .auth > form {
      width: 400px;
      box-shadow: rgba(17,12,46,0.15) opx 48px 100px 0px;
      background-color: white;
  
    }
  }